@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 1rem;
  color: black;
  min-height: 100vh;
  font-family: "League Spartan", sans-serif;
}

#root,
.App {
  width: 100%;
  height: 100%;
}

.App {
  position: relative;
}

.Active::before {
  content: "";
  position: absolute;
  left: 12.5%;
  bottom: 0;
  height: 2px;
  width: 75%;
  border-bottom: 2px solid white;
}

.Show {
  display: flex !important;
}

.Hide {
  display: none !important;
}

.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50px;
  padding: 0 40px;
}
.navigation .logo {
  width: 85px;
}
.navigation .buttons-component {
  width: 23%;
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
}
.navigation .buttons-component .nav-button {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  padding: 5px 0;
  position: relative;
}

.navigation .burger-button-component {
  background: none;
  border: none;
  display: none;
}
.navigation .burger-button-component .burger-icon {
  width: 24px;
}

.home-page {
  height: 100%;
  width: 100%;
}
.home-page .home-header-component {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: flex-end;
}
.home-page .home-footer-component {
  width: 100%;
  height: 35vh;
  display: flex;
}

.home-content-side-component {
  width: 40%;
  height: 65vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content-side-component .home-content-side-component-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 70%;
  height: 65%;
}
.home-content-side-component .home-content-side-component-wrapper .header {
  font-size: 2rem;
}
.home-content-side-component .home-content-side-component-wrapper .body {
  font-size: 1rem;
  line-height: 30px;
  color: hsl(0deg, 0%, 63%);
}
.home-content-side-component .home-content-side-component-wrapper .shop-now-btn {
  font-size: 1rem;
  font-family: "League Spartan", sans-serif;
  letter-spacing: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
.home-content-side-component .home-content-side-component-wrapper .shop-now-btn .arrow-icon {
  width: 60px;
}
.home-content-side-component .home-content-side-component-wrapper .shop-now-btn:hover {
  opacity: 0.6;
}
.home-content-side-component .home-img-side-component {
  width: 60%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-page .home-footer-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-page .home-footer-component .about-img {
  width: 30%;
  height: 100%;
}
.home-page .home-footer-component .footer-content-component {
  width: 33%;
  height: 63%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.home-page .home-footer-component .footer-content-component .header {
  font-size: 1.3rem;
  letter-spacing: 3px;
}
.home-page .home-footer-component .footer-content-component .body {
  line-height: 20px;
  color: hsl(0deg, 0%, 63%);
}

.mobil-nav-bar-component {
  display: none;
  width: 100%;
  padding: 30px 25px;
  justify-content: space-between;
  z-index: 20;
  position: absolute;
  top: 0;
  background-color: white;
}
.mobil-nav-bar-component .buttons-component {
  width: 75%;
  display: flex;
  justify-content: space-around;
}
.mobil-nav-bar-component .buttons-component .nav-button {
  font-family: "League Spartan", sans-serif;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}
.mobil-nav-bar-component .close-button-component {
  font-size: 1.2rem;
  border: none;
  background: none;
  color: gray;
}

@media (min-width: 1919px) {
  .navigation {
    padding: 0 100px;
  }
  .navigation .logo {
    width: 125px;
  }
  .navigation .buttons-component {
    width: 30%;
    margin-left: 60px;
  }
  .navigation .buttons-component .nav-button {
    font-size: 1.6rem;
    padding: 10px 0;
  }
}
@media (min-width: 1439px) and (max-width: 1919px) {
  .navigation {
    padding: 0 75px;
  }
  .navigation .logo {
    width: 100px;
  }
  .navigation .buttons-component {
    width: 25%;
    margin-left: 40px;
  }
  .navigation .buttons-component .nav-button {
    font-size: 1.3rem;
    padding: 8px 0;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .navigation {
    padding: 0 75px;
    top: 5%;
  }
  .navigation .logo {
    width: 75px;
  }
  .navigation .buttons-component {
    width: 35%;
    margin-left: 25px;
  }
  .navigation .buttons-component .nav-button {
    padding: 5px 0;
  }
}
@media (min-width: 479px) and (max-width: 767px) {
  .navigation {
    padding: 0 75px;
    top: 40px;
    justify-content: center;
  }
  .navigation .logo {
    width: 75px;
  }
  .navigation .buttons-component {
    width: 65%;
    margin-left: 25px;
  }
  .navigation .buttons-component .nav-button {
    padding: 5px 0;
  }
}
@media (min-width: 319px) and (max-width: 479px) {
  .navigation {
    padding: 0 35px;
    top: 35px;
    justify-content: center;
  }
  .navigation .logo {
    width: 80px;
  }
  .navigation .buttons-component {
    display: none;
  }
  .navigation .burger-button-component {
    display: flex;
    position: absolute;
    left: 7%;
  }
  .navigation .burger-button-component .burger-icon {
    width: 30px;
  }
}
@media (min-width: 1919px) {
  .home-page .home-header-component .home-content-side-component-wrapper .header {
    font-size: 3.2rem;
    line-height: 50px;
  }
  .home-page .home-header-component .home-content-side-component-wrapper .body {
    font-size: 1.6rem;
    line-height: 40px;
  }
  .home-page .home-header-component .shop-now-btn {
    font-size: 1.5rem;
    letter-spacing: 10px;
  }
  .home-page .home-header-component .shop-now-btn .arrow-icon {
    width: 65px;
  }
  .home-page .home-header-component .aside-buttons-component .aside-buttons {
    width: 75px;
    height: 75px;
    font-size: 2.5rem;
  }
  .home-page .home-header-component .home-img-side-component {
    width: 60%;
  }
  .home-page .home-footer-component .footer-content-component {
    height: 60%;
  }
  .home-page .home-footer-component .footer-content-component .header {
    font-size: 1.7rem;
    letter-spacing: 6px;
  }
  .home-page .home-footer-component .footer-content-component .body {
    font-size: 1.4rem;
    line-height: 25px;
  }
}
@media (min-width: 1439px) and (max-width: 1919px) {
  .home-page .home-header-component .home-content-side-component-wrapper .header {
    font-size: 2.5rem;
    line-height: 40px;
  }
  .home-page .home-header-component .home-content-side-component-wrapper .body {
    font-size: 1.3rem;
    line-height: 28px;
  }
  .home-page .home-header-component .shop-now-btn {
    font-size: 1.3rem;
    letter-spacing: 10px;
  }
  .home-page .home-header-component .shop-now-btn .arrow-icon {
    width: 65px;
  }
  .home-page .home-header-component .aside-buttons-component .aside-buttons {
    width: 60px;
    height: 60px;
    font-size: 2rem;
  }
  .home-page .home-header-component .home-img-side-component {
    width: 60%;
  }
  .home-page .home-footer-component .footer-content-component {
    height: 78%;
  }
  .home-page .home-footer-component .footer-content-component .header {
    font-size: 1.4rem;
    letter-spacing: 4px;
  }
  .home-page .home-footer-component .footer-content-component .body {
    font-size: 1.2rem;
    line-height: 25px;
  }
}
@media (min-width: 1023px) and (max-width: 1200px) {
  .home-page .home-header-component .home-content-side-component-wrapper .header {
    font-size: 1.7rem;
    line-height: 30px;
  }
  .home-page .home-header-component .home-content-side-component-wrapper .body {
    font-size: 1rem;
    line-height: 20px;
  }
  .home-page .home-header-component .shop-now-btn {
    font-size: 0.9rem;
    letter-spacing: 8px;
  }
  .home-page .home-header-component .shop-now-btn .arrow-icon {
    width: 45px;
  }
  .home-page .home-header-component .aside-buttons-component .aside-buttons {
    width: 45px;
    height: 45px;
    font-size: 1.7rem;
  }
  .home-page .home-header-component .home-img-side-component {
    width: 60%;
  }
  .home-page .home-footer-component .footer-content-component {
    height: 70%;
  }
  .home-page .home-footer-component .footer-content-component .header {
    font-size: 1rem;
    letter-spacing: 4px;
  }
  .home-page .home-footer-component .footer-content-component .body {
    font-size: 0.8rem;
    line-height: 17px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .home-page .home-header-component {
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    height: 80vh;
  }
  .home-page .home-header-component .home-content-side-component {
    width: 100%;
    height: 40%;
  }
  .home-page .home-header-component .home-content-side-component .home-content-side-component-wrapper {
    width: 75%;
    height: 85%;
    text-align: center;
    align-items: center;
  }
  .home-page .home-header-component .home-content-side-component .home-content-side-component-wrapper .header {
    font-size: 2rem;
    line-height: 40px;
  }
  .home-page .home-header-component .home-content-side-component .home-content-side-component-wrapper .body {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .home-page .home-header-component .home-content-side-component .shop-now-btn {
    font-size: 1.3rem;
    letter-spacing: 8px;
  }
  .home-page .home-header-component .home-content-side-component .shop-now-btn .arrow-icon {
    width: 55px;
  }
  .home-page .home-header-component .home-content-side-component .aside-buttons-component {
    top: -75px;
    right: 0;
  }
  .home-page .home-header-component .home-content-side-component .aside-buttons-component .aside-buttons {
    width: 75px;
    height: 75px;
    font-size: 2rem;
  }
  .home-page .home-header-component .home-img-side-component {
    width: 100%;
    height: 60%;
  }
  .home-page .home-footer-component {
    height: 20vh;
  }
  .home-page .home-footer-component .footer-content-component {
    height: 100%;
    align-items: center;
    text-align: center;
  }
  .home-page .home-footer-component .footer-content-component .header {
    font-size: 1.1rem;
    letter-spacing: 4px;
  }
  .home-page .home-footer-component .footer-content-component .body {
    font-size: 1rem;
    line-height: 17px;
  }
}
@media (min-width: 479px) and (max-width: 767px) {
  .home-page .home-header-component {
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    min-height: 80vh;
  }
  .home-page .home-header-component .home-content-side-component {
    width: 100%;
    height: 500px;
  }
  .home-page .home-header-component .home-content-side-component .home-content-side-component-wrapper {
    width: 75%;
    height: 85%;
    text-align: center;
    align-items: center;
  }
  .home-page .home-header-component .home-content-side-component .home-content-side-component-wrapper .header {
    font-size: 1.5rem;
    line-height: 40px;
  }
  .home-page .home-header-component .home-content-side-component .home-content-side-component-wrapper .body {
    font-size: 1rem;
    line-height: 20px;
  }
  .home-page .home-header-component .home-content-side-component .shop-now-btn {
    font-size: 1rem;
    letter-spacing: 8px;
  }
  .home-page .home-header-component .home-content-side-component .shop-now-btn .arrow-icon {
    width: 45px;
  }
  .home-page .home-header-component .home-content-side-component .aside-buttons-component {
    top: -45px;
  }
  .home-page .home-header-component .home-content-side-component .aside-buttons-component .aside-buttons {
    width: 50px;
    height: 45px;
    font-size: 1.5rem;
  }
  .home-page .home-header-component .home-img-side-component {
    width: 100%;
    height: 60%;
  }
  .home-page .home-footer-component {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
  }
  .home-page .home-footer-component .about-img {
    width: 100%;
  }
  .home-page .home-footer-component .footer-content-component {
    min-height: 285px;
    width: 85%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .home-page .home-footer-component .footer-content-component .header {
    font-size: 1.5rem;
    letter-spacing: 4px;
  }
  .home-page .home-footer-component .footer-content-component .body {
    font-size: 1.1rem;
    line-height: 25px;
  }
}
@media (min-width: 319px) and (max-width: 479px) {
  .home-page .home-header-component {
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    min-height: 80vh;
  }
  .home-page .home-header-component .home-content-side-component {
    width: 100%;
    height: 500px;
  }
  .home-page .home-header-component .home-content-side-component .home-content-side-component-wrapper {
    width: 75%;
    height: 85%;
    text-align: center;
    align-items: center;
  }
  .home-page .home-header-component .home-content-side-component .home-content-side-component-wrapper .header {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .home-page .home-header-component .home-content-side-component .home-content-side-component-wrapper .body {
    font-size: 1rem;
    line-height: 20px;
  }
  .home-page .home-header-component .home-content-side-component .shop-now-btn {
    font-size: 1rem;
    letter-spacing: 8px;
  }
  .home-page .home-header-component .home-content-side-component .shop-now-btn .arrow-icon {
    width: 45px;
  }
  .home-page .home-header-component .home-content-side-component .aside-buttons-component {
    top: -45px;
  }
  .home-page .home-header-component .home-content-side-component .aside-buttons-component .aside-buttons {
    width: 50px;
    height: 45px;
    font-size: 1.5rem;
  }
  .home-page .home-header-component .home-img-side-component {
    width: 100%;
    height: 60%;
  }
  .home-page .home-footer-component {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
  }
  .home-page .home-footer-component .about-img {
    width: 100%;
  }
  .home-page .home-footer-component .footer-content-component {
    min-height: 285px;
    width: 85%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 30px 0;
  }
  .home-page .home-footer-component .footer-content-component .header {
    font-size: 1.1rem;
    letter-spacing: 4px;
    margin: 15px 0;
  }
  .home-page .home-footer-component .footer-content-component .body {
    font-size: 0.9rem;
    line-height: 25px;
    margin: 15px 0;
  }
}/*# sourceMappingURL=index.css.map */