@use '../../helpers/colors' as col;
;

.home-page {
    .home-footer-component {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .about-img {
            width: 30%;
            height: 100%;
        }

        .footer-content-component {
            width: 33%;
            height: 63%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;

            .header {
                font-size: 1.3rem;
                letter-spacing: 3px;
            }

            .body {
                line-height: 20px;
                color: col.$Dark-Gray;
            }
        }
    }
}